<div class="palyersPage">
	<div class="container">
		<div class="filter-player">
			<div class="row">
				<div class="col-12 col-sm-4 col-md" *ngFor="let position of positions">
					<label class="tgl tgl-gray">
						<input type="checkbox" name="{{position.name}}" [(ngModel)]="position.selected">
						<span>{{position.name}}</span>
					</label>
				</div>
				<div class="col-12 col-sm-4 col-md">	
					<label class="tgl tgl-gray">
						<input type="checkbox" name="active" ng-checked="true" [(ngModel)]="isActive">
						<span>لاعب نشط</span>
					</label>
				</div>	
			</div>
		</div>
		<div class="all-palyer">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let player of players | playerfilter:selectedPositions:isActive">
					<div class="eachPlayer">
						<div class="playerImage">
							<img src="{{player && player?.P_PIC}}" alt="player-image">
						</div>
						<div class="playerDetail">
							<div class="l-playerDetail">
								<div class="playerNumber">{{player && player?.P_Number}}</div>
								<div class="leauge">
									<div class="team-img">
										<img src="{{player && player?.Country_Flag}}" alt="Country Flag">
										<p>{{player && player?.P_Country}}</p>
									</div>
								</div>
							</div>
							<div class="r-playerDetail">
								<div class="name">
									<div class="fName">{{player && player?.P_FirstName}}</div>
									<div class="sName">{{player && player?.P_LastName}}</div>
								</div>
							</div>
							<div class="o-playerDetail">

								<div class="playerPosition">
									<label>Position</label>
									<p>{{player && player?.position_name}}</p>
								</div>
								<div class="playerAge">
									<label>Year of Birth</label>
									<p>{{player && player?.P_DateOfBirth}}</p>
								</div>
								<div class="more-detail">
									<a routerLink="/pages/all-players/playerdetails/{{player && player?.P_ID}}">More Details</a>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



