.palyersPage{
	padding: 0 15px 0 0;
}

	.filter-player {
	    background:#fff;
	    padding: 15px;
	    margin: 0 0 30px;
	    text-align: center;
	    border-radius: 5px;
		.tgl {
			position: relative;
			outline: 0;
			display: inline-block;
			cursor: pointer;
			user-select: none;
			margin: 0;
			color: #999;
			line-height: 20px;

			// add default box-sizing for this scope
				&, &:after, &:before,
				& *, & *:after, & *:before,
				& + .tgl-btn {
				box-sizing: border-box;
				&::selection{
					background: none;
				}
			}
			span {
				position: relative;
				display: inline-block;
				height: 2em;
				line-height: 22px;
				overflow: hidden;
				font-weight: normal;
				text-align: center;
				border-radius: 2em;
				padding: 0.2em 1em;
				box-shadow:
				inset 0 2px 0 rgba(0,0,0,.2),
				0 2px 0 rgba(255,255,255,0.7);
				vertical-align: text-bottom;
				transition:
				color 0.192s ease,
				padding 0.192s ease-in-out,
				background 0.192s ease-in-out;

				&:after {
				position: absolute;
				display: block;
				content: '';
				border-radius: 50%;
				width: 22px;
				height: 22px;
				margin-left: -26px;
				top: 5px;
				background: linear-gradient(to right, #40dcb2, #40dc7e);
				transition:
				left 0.3s cubic-bezier( 0.175, 0.885, 0.320, 0.97 ),
				background 0.3s ease-in-out;  

				}

			}
				input[type="checkbox"]{
					width: 18px;
				    height: 18px;
				    vertical-align: bottom;
				    border: 1px solid #ccc;
				    margin-right: 5px;
					display: none !important;

					// Off
					&:not(:checked) {
					+ span {
						background: #d5d5d5;
						color: #fff;
						padding-left: 2em;
						padding-right: 1.4em;
							&:before {
							  content: attr(data-off);
							  color: #fff;
							}
							&:after {
							  background: #fff;
							  left: 2em;
							}
						}
				    }

					// On
					&:checked {
					+ span {
						background: linear-gradient(to right, #40dcb2, #40dc7e);
						color: #fff;
						padding-left: 1.4em;
						padding-right: 2em;
						&:before {
						  content: attr(data-on);
						}
						&:after {
						  background: #fff;
						  left: 100%;
						}
					  }
					}


				}

		}


		@media (max-width: 576px) { 
			.tgl {
			    float: left;
    			margin: 0 0 5px;
    		}
		}
	}
	.eachPlayer{
		display: block;
    	padding: 0 0 30px;
   		background: #fff;
	    margin: 0 0 30px;
	    border-bottom-right-radius: 0.375rem;
	    border-bottom-left-radius: 0.375rem;
	    box-shadow: 0px 0px 28px -10px #f0f0f0;
	    transition: all .192s ease-in 0s; 
		
		&:hover{
			box-shadow: 0px 0px 28px -10px #333;
		}
 		.playerImage{
			img{
				width: 100%;
	    		border-top-right-radius: 0.375rem;
	    		border-top-left-radius: 0.375rem;
	    		height: 250px;
			}
		}
		.playerDetail{
			overflow: hidden;
			padding: 10px 5px 0px;

			.l-playerDetail{
				width: 45%;
				float: left;
				overflow: hidden;
				padding: 10px 0 0 0px;
				margin-right: 5%;

				.playerNumber{
				    font-size: 6em;
				    font-weight: 700;
				    color: #e0e0e0;
				    text-align: left;
				    letter-spacing: -10px;
				    line-height: .8em;
				}

				.team-img{
					overflow: hidden;
					margin: 10px 0 25px 10px;
					img{
						width: 35px;
						float: left;
						overflow: hidden;
					}
					p{
						float: left;
						overflow: hidden;
						font-size: 1.25em;
						margin-left: 8px;
						color: #888;
						line-height: 1.25em;
						margin-bottom: 0;
					}
				}

			}
			.r-playerDetail{
				width: 50%;
				float: left;
				overflow: hidden;
				padding: 28px 10px 0 0;
				.name{
				    text-align: right; 
					.fName {
						color: #aaa;
						font-weight: 600;
						text-transform: uppercase;
						font-size: 1em;
					}
					.sName{
						color: #3dcc6d;
						font-weight: 500;
						font-size: 1.65em;
					}
				}
				
			}
			.o-playerDetail{
				width: 100%;
				overflow: hidden;
				padding: 0 10px;

				.playerPosition, .playerAge{
					overflow: hidden;
					label{
						overflow: hidden;
						float: left;
						width: 50%;
						color: #888;
						text-align: right;
						padding-right: 5px;
						margin-bottom: 10px;
						font-size: 1.15em;
						font-weight: 600;
					}
					p{
						overflow: hidden;
						float: left;
						width: 50%;
						color: #888;
						text-align: left;
						padding-left: 5px;
						margin-bottom: 10px;
						font-size: 1.15em
					}
				}

				.more-detail{
					text-align:center;
					margin: 15px 0;	
					a{
						background: #fff;
					    border: 1px solid #3dcc6d;
					    color: #3dcc6d;
					    text-transform: uppercase;
					    border-radius: 3px;
					    padding: 6px 20px;
					    text-decoration: none;
					    transition: all .25s ease-in 0s;
					    box-shadow: 0px 5px 20px -10px #666;
					    font-size: .9rem;

					}
					a:hover{
						background: #3dcc6d;
					    color: #fff;
					    box-shadow: 0px 5px 20px -10px #000;
					}
				} 
			}

		}

	}
