
<div class="lastMatchDetail">
	<div class="container">
		<h2>المباراة السابقة</h2>
		<div class="lm-lrc">
			<p><span>{{data && data[0]?.M_Leg}}</span> | <span>{{data && data[0]?.Round}}</span> | <span>{{data && data[0]?.Champ_Name}}</span></p>
		</div>
		<div class="lm-team-detail">
			<div class="row align-items-center">
				<div class="col-4 col-sm-5">
					<div class="lm-firstTeam">
						<img src='{{data && data[0]?.Team_Logo_A}}'>
						<h3>{{data && data[0]?.Team_Away_Name}}</h3>
					</div>
				</div>
				<div class="col-4 col-sm-2">
					<div class="result">
						<p><span class="firstScore">{{data && data[0]?.M_Home_Score}}</span> : <span class="secondScore">{{data && data[0]?.M_Away_Score}}</span></p>
					</div>
					
				</div>
				<div class="col-4 col-sm-5">
					<div class="lm-secondTeam">
						<img src='{{data && data[0]?.Team_Logo_H}}'>
						<h3>{{data && data[0]?.Team_Home_Name}}</h3>
					</div>
				</div>
			</div>
			<div class="lastMatchTime">
				<div class="mt-date">
					<p>{{getDayOfWeek(data && data[0]?.M_Date)}}</p>
					<span>{{data && data[0]?.M_Date}}</span>
				</div>

				<div class="mt-time">
					<p><span class="mt-hour">{{data && data[0]?.M_Time}}</span> على <span class="mt-stadium">{{data && data[0]?.Stadium}}</span></p>
				</div>

			</div>
			<div class="more-detail">
				<a href="#{{data && data[0]?.M_ID}}">إلى التفاصيل</a>
			</div>
			
			
		</div>
	</div>
</div>