@import '../../../@theme/styles/themes';

@include nb-install-component() {
  
  .lastMatchDetail{
	background: #fff;
	text-align: center;
	margin: 0 0 30px;
	border-radius: 0.375rem;
	padding: 15px 0 40px;
	color: #999;

    h2{ 
      text-align:center; 
      color: #444;
      padding: 15px 0;
      margin: 0;	
    }
	.lm-lrc{
		p{
			color: #444;
			span{
				color: #777;
				padding: 0 5px;
				text-transform: uppercase;
			}
		}
	}
	.lm-team-detail{
	  .result p{
	  	  text-align: center;
	      font-size: 2em;
	      color: #707070;
	      text-transform: uppercase;
	      font-weight: 700;
	  }
	  .lm-firstTeam, .lm-secondTeam {
	  	img{
	  	  width: 60%;
          margin: 0 auto;
          display: block;	
	  	}

	  	h3{
	  	  text-align: center;
	  	  color: #444;
	  	  font-size: 1em;
	  	  margin: 10px 0;	  	}

      }
      .lm-secondTeam img{
        width: 60%;
        margin: 0 auto;
        display: block;	
      }	
	}

    .lastMatchTime{
		.mt-date{
			p{
				text-align: center;
				font-size: 2em;
				margin: 0;
				color: #666;
				
			}

			span{
				text-align: center;
				display: block;
				color: #666;
			}
		}
		.mt-time{
			margin: 10px 0 0px; 
		}
    }
    .more-detail{
		text-align:center;
		margin: 21px 0 0;
		a{
			background: #fff;
		    border: 1px solid #3dcc6d;
		    color: #3dcc6d;
		    text-transform: uppercase;
		    border-radius: 3px;
		    padding: 8px 20px;
		    text-decoration: none;
		    transition: all .25s ease-in 0s;
		    box-shadow: 0px 5px 20px -10px #666;
		    font-size: .9rem;

		}
		a:hover{
			background: #3dcc6d;
		    color: #fff;
		    box-shadow: 0px 5px 20px -10px #000;
		}
	}	

  }
}
