<div class="nextMatchDetail">
	<div class="container">
		<h2>Next Match Detail</h2>
		<div class="nm-lrc">
			<p><span>{{data && data[0]?.M_Leg}}</span> | <span>{{data && data[0]?.Round}}</span> | <span>{{data && data[0]?.Champ_Name}}</span></p>
		</div>
		<div class="nm-team-detail">
			<div class="row align-items-center">
				<div class="col-4 col-sm-5">
					<div class="nm-firstTeam">
						<img src="{{data && data[0]?.Team_Logo_A}}">
						<h3>{{data && data[0]?.Team_Away_Name}}</h3>
					</div>
				</div>
				<div class="col-4 col-sm-2">
					<p class="versus">VS</p>
				</div>
				<div class="col-4 col-sm-5">
					<div class="nm-secondTeam">
						<img src="{{data && data[0]?.Team_Logo_H}}">
						<h3>{{data && data [0]?.Team_Home_Name}}</h3>
					</div>
				</div>
			</div>
			
			<div class="nextMatchTime">
				<div class="mt-date">
					<p>{{getDayOfWeek(data && data[0]?.M_Date)}}</p>
					<span>{{data && data[0]?.M_Date}}</span>
				</div>

				<div class="mt-time">
					<p>The match will began <span class="mt-hour">{{data && data[0]?.M_Time}}</span> at <span class="mt-stadium">{{data && data[0]?.Stadium}}</span></p>
				</div>
			</div>

			<div class="matchGreet">
				<p>Enjoy your time!</p>
			</div>
			
		</div>
	</div>
	
</div>