@import '../../../@theme/styles/themes';

@include nb-install-component() {
  
  .nextMatchDetail{
  	background: #fff;
  	text-align: center;
  	margin: 0 0 30px;
  	border-radius: 0.375rem;
  	padding: 15px 0 40px;
	color: #999;

    h2{ 
      text-align:center; 
      color: #444;
      padding: 15px 0;
      margin: 0;	
    }
	.nm-lrc{
		p{
			color: #444;
			span{
				color: #777;
				padding: 0 5px;
				text-transform: uppercase;
			}
		}
	}
	.nm-team-detail{
	  .versus{
	  	  text-align: center;
	      font-size: 2em;
	      color: #707070;
	      text-transform: uppercase;
	      font-weight: 700;
	  }
	  .nm-firstTeam, .nm-secondTeam {
	  	img{
	  	  width: 60%;
          margin: 0 auto;
          display: block;	
	  	}

	  	h3{
	  	  text-align: center;
	  	  color: #444;
	  	  font-size: 1em;
	  	  margin: 10px 0;	  	}

      }
      .nm-secondTeam img{
        width: 60%;
        margin: 0 auto;
        display: block;	
      }	
	}

    .nextMatchTime{
		.mt-date{
			p{
				text-align: center;
				font-size: 2em;
				margin: 0;
				color: #666;
			}

			span{
				text-align: center;
				display: block;
				color: #666;
			}
		}
		.mt-time{
			margin: 15px 0 0; 
		}
    }
    .matchGreet{
    	p{
    		margin: 0;
    	}
    }	
    	
  }
}
