
@media (max-width: 1200px) {
	.goalsPage{
	    padding: 0 15px 0 0;
	}
}
.filter-goal{
	background:#fff;
    padding: 15px;
    margin: 0 0 30px;
    text-align: center;
    border-radius: 5px;
}
.eachgoal{
	direction: rtl;
	background: #fff;
	margin: 0 0 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 25px -15px #f0f0f0;
	transition: box-shadow .25s ease-in 0s;
	&:hover{
		box-shadow: 0px 10px 25px -15px #444;
	}
	.goal-scorar{
		position: relative;
		width: 100%;
		height: 200px;
		img{
			width:100%;
			height: 200px;
			position: absolute;
			top: 0;
			left: 0;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px
		}
		.scorarName{
			position: absolute;
			width: 100%;
			bottom: -70px;
			left: 0;
			background: rgba(0,0,0,0.8);
			opacity: 0;
			padding: 10px;
			transition: all .192s ease-in 0s;
			z-index: 1;
			p{
				color: #fff;
			    margin: 0;
			    direction: rtl;
			    text-align: right;
			    line-height: 1.45;
			}
		}
		@media (max-width: 576px) {
			.scorarName{ 
	    		bottom: 0px;
				opacity: 1;

    		}
		}
	}
	&:hover {
		.eachgoal-head .scorarName{
			bottom: 0px;
			opacity: 1;
		}
	}

	.eachgoal-body{
		z-index: 10;
		position: relative;
		background: #fff;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 15px 10px 20px;
		text-align: right;

		    .rating {
		        unicode-bidi: bidi-override;
		        direction: rtl;
		        width: 100%;
		        text-align: center;
		    }

		    .rating input {
		        position: absolute;
		        left: -999999px;
		    }

		    .rating label {
		        display: inline-block;
		        font-size: 0;
		        margin: 0 3px;
		        line-height: 0;
		    }

		    .rating > label:before {
		        position: relative;
		        font: 20px/1 FontAwesome;
		        display: block;
		        content: "\f005";
		        background: #d5d5d5;
		        -webkit-background-clip: text;
		        -webkit-text-fill-color: transparent;
		    }
		    .rating > label:hover:before,
		    .rating > label:hover ~ label:before,
		    .rating > label.selected:before,
		    .rating > label.selected ~ label:before {
		        background: #40dcb2;
		        -webkit-background-clip: text;
		        -webkit-text-fill-color: transparent;
		        cursor: pointer;
		    }
		.match-date, .goal-time{
			overflow: hidden;
			margin: 0 0 10px;
			label{
				display: inline-block;
				padding-right: 5px;
				margin: 0;
				font-weight: 700;
			}
			p{
				display: inline-block;
				text-align: right;
				margin: 0;
			}
		}
		.seeVideo{
			a{
				cursor: pointer;
				&:hover{
					color: #40dcb2;
					i{
						background: #333;
				    	color: #fff;
				    	border: 1px solid #000;
					}
				}
				i {
				    background: #fff;
				    color: #666;
				    width: 25px;
				    height: 25px;
				    text-align: center;
				    line-height: 23px;
				    border-radius: 50%;
				    font-size: .85em;
				    border: 1px solid #a5a5a5;

				}
				span{
					font-size: .55em;
				    padding-right: 5px;
				    text-transform: uppercase;
				    line-height: 1.2em;
				    display: inline-block;
				    margin-right: 5px;
				}
			}
		}
	}
	


}