<div class="goalsPage">
	<div class="container">
	 	<div class="filter-goal">
			<div class="row">
				<div class="col-4">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          {{ team_type }}
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <li class="dropdown-item" *ngFor="let t of team_types" (click)="team_type = t">{{ t }}</li>
				        </ul>
			      	</div>	
							
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-md-3" *ngFor="let goal of goals | goalsfilter:position1:position2:position3:position4:active">
				
				<div class="eachgoal">
					<div class="eachgoal-head">

						<div class="goal-scorar">
							<img src="{{goal && goal?.P_PIC}}" alt="Scorar Player">
							<div class="scorarName">
								<p><span>{{goal && goal?.Scoring_Player}} </span> Scored A Goal</p>
								<p>Assits by <span>{{goal && goal?.Assist_Player}}</span></p>
							</div>
						</div>
							
					</div>
					<div class="eachgoal-body">
						<div class="rating">
						  <label class="">
						    <input type="radio" name="rating" value="5" title="5 stars"> 5
						  </label>
						  <label>
						    <input type="radio" name="rating" value="4" title="4 stars"> 4
						  </label>
						  <label class="selected">
						    <input type="radio" name="rating" value="3" title="3 stars"> 3
						  </label>
						  <label>
						    <input type="radio" name="rating" value="2" title="2 stars"> 2
						  </label>
						  <label>
						    <input type="radio" name="rating" value="1" title="1 star"> 1
						  </label>
						</div>

						<!-- <script> 
							$('.rating input').change(function () {
							  var $radio = $(this);
							  $('.rating .selected').removeClass('selected');
							  $radio.closest('label').addClass('selected');
							});
						</script> -->
						<div class="match-date">
							<label>Match Date:</label>
							<p>{{goal && goal?.M_Date}}</p>
						</div>
						<div class="goal-time">
							<label>Scored at</label>
							<p>{{goal && goal?.G_Time}} min</p>
						</div>
						<div class="seeVideo">
							<a (click)='showLargeModal(goal.G_Link)'><i class="fa fa-youtube"></i><span>See Video</span></a>
						</div>
					</div>
					

					<!--<div class="more-detail">
						<a href="#{{goal && goal?.G_ID}}">إلى التفاصيل</a>
					</div>-->

				</div>
			</div>
		</div>
	</div>
</div> 

