<nb-card size="large">
	<div class="highlightPlayer">
		<div class="playerImage">
			<img src="{{data && data[0]?.P_PIC}}" alt="player-image">
		</div>
		<div class="playerDetail">
			<div class="l-playerDetail">
				<div class="playerNumber">{{data && data[0]?.P_Number}}</div>
				<div class="leauge">
					<div class="team-img">
						<img src="{{data && data[0]?.Country_Flag}}" alt="Country Flag">
						<p>{{data && data[0]?.P_Country}}</p>
					</div>
				</div>
			</div>
			<div class="r-playerDetail">
				<div class="name">
					<div class="fName">{{data && data[0]?.P_FirstName}}</div>
					<div class="sName">{{data && data[0]?.P_LastName}}</div>
				</div>
			</div>
			<div class="o-playerDetail">

				<div class="playerPosition">
					<label>Position</label>
					<p>{{data && data[0]?.Position}}</p>
				</div>
				<div class="playerAge">
					<label>Year of Birth</label>
					<p>{{data && data[0]?.P_DateOfBirth}}</p>
				</div>
				<div class="more-detail">
					<a href="#{{data && data[0]?.P_ID}}">More Details</a>
				</div>

			</div>

		</div>
	</div>
</nb-card>