
@import '../../../@theme/styles/themes';

@include nb-install-component() {
	.highlightPlayer{
		display: block;
		height: 100%;
		padding: 0 0 30px;

		.playerImage{
			img{
				width: 100%;
	    		border-top-right-radius: 0.375rem;
	    		border-top-left-radius: 0.375rem;
	    		height: 250px;
			}
		}
		.playerDetail{
			overflow: hidden;
			padding: 10px 5px 0px;

			.l-playerDetail{
				width: 60%;
				float: left;
				overflow: hidden;
				padding: 10px 0 0 0px;

				.playerNumber{
				    font-size: 6em;
				    font-weight: 700;
				    color: #e0e0e0;
				    text-align: left;
				    letter-spacing: -10px;
				    line-height: .8em;
				}

				.team-img{
					overflow: hidden;
					margin: 10px 0 25px 10px;
					img{
						width: 35px;
						float: left;
						overflow: hidden;
					}
					p{
						float: left;
						overflow: hidden;
						font-size: 1.25em;
						margin-left: 8px;
						color: #888;
						line-height: 1.25em;
						margin-bottom: 0;
					}
				}

			}
			.r-playerDetail{
				width: 40%;
				float: left;
				overflow: hidden;
				padding: 28px 10px 0 0;
				.name{
				    text-align: right; 
					.fName {
						color: #aaa;
						font-weight: 600;
						text-transform: uppercase;
						font-size: 1em;
					}
					.sName{
						color: #3dcc6d;
						font-weight: 500;
						font-size: 1.65em;
					}
				}
				
			}
			.o-playerDetail{
				width: 100%;
				overflow: hidden;
				padding: 0 10px;

				.playerPosition, .playerAge{
					overflow: hidden;
					label{
						overflow: hidden;
						float: left;
						width: 50%;
						color: #888;
						text-align: right;
						padding-right: 5px;
						margin-bottom: 10px;
						font-size: 1.15em;
						font-weight: 600;
					}
					p{
						overflow: hidden;
						float: left;
						width: 50%;
						color: #888;
						text-align: left;
						padding-left: 5px;
						margin-bottom: 10px;
						font-size: 1.15em
					}
				}

				.more-detail{
					text-align:center;
					margin: 15px 0;	
					a{
						background: #fff;
					    border: 1px solid #3dcc6d;
					    color: #3dcc6d;
					    text-transform: uppercase;
					    border-radius: 3px;
					    padding: 8px 20px;
					    text-decoration: none;
					    transition: all .25s ease-in 0s;
					    box-shadow: 0px 5px 20px -10px #666;
					    font-size: .9rem;

					}
					a:hover{
						background: #3dcc6d;
					    color: #fff;
					    box-shadow: 0px 5px 20px -10px #000;
					}
				} 
			}

		}

	}

	@media (max-width: 575.98px){
		nb-card.large-card {
		    height: auto;
		}
	}

}