@media (max-width: 1200px) {
	.matches{
	    padding: 0 15px 0 0;
	}
}
	.filter-match {
		direction:rtl;
	    background:#fff;
	    padding: 15px;
	    margin: 0 0 30px;
	    text-align: center;
	    border-radius: 5px;

		.form-control{
			padding: 0.6rem 1.5rem;
		}
		.dropdown {
			button {
			    text-align: right;
			    cursor: pointer;
			    &:after {
				    left: 0.75rem;
				    right: auto;
				}

			}
			.dropdown-item{
				text-align: right;
				cursor: pointer;
			}
		}

		@media (max-width: 991.98px) { 
			.dropdown, .dateFrom, .dateTo {
    			margin: 5px 0;
    			display: block;
    		}
		}	
	}


.eachMatch{
	background: #fff;
	border-radius: 2px;
	padding: 10px 20px;
	direction:rtl;
	text-align: center;
	border-top: 1px solid #5be190;
	box-shadow: 0px 10px 25px -15px #f0f0f0;
	transition: all .192s ease-in 0s;
	&:hover{
		box-shadow: 0px 10px 25px -15px #444;
		transform: scale(1.015);
		z-index: 10;
		position: relative;
	}
	// .eachMatch-head{
	// 	margin: 0 0 5px;
	// 	padding-top: 25px;
	// 	background: #f9f9f9;
	// 	border-top-left-radius: 5px;
	// 	border-top-right-radius: 5px;
	// 	border-bottom: 1px solid #eaeaea;}

		.em-team{
			display: inline-block;
			width: 100%;
			.hteam{
				text-align: left;
				.hteam-img{
					float: left;
					width: 30px;
					text-align: center;
				}
				p{
					float: left;
				}
			}
			.ateam{
				text-align: right;
				.ateam-img{
					float: right;
					width: 30px;
					text-align: center;
				}
				p{
					float: right;
				}
			}
			img{
				width: auto;
			    height: 30px;
			    display: inline-block;
			    margin: 0 auto;
			}
			p{
				margin: 0px 15px 0px;
				display: inline-block;
				font-size: .8em;
				vertical-align: middle;
				line-height: 30px;
			}
		}
		.em-result{
			padding: 15px 0;
			p{
				font-weight: 700;
				font-size: 1.5em;
				margin: 0;
			}
		}
	
	
	.em-season{
		label{
			text-align: left;
			font-weight: 700;
			float: left;
			overflow: hidden;
		}
		p{
			text-align: left;
		    margin: 0;

		}
	}
	.em-date{
		p{
			text-align: right;
		    margin: 0;
		}	
	}

	.more-detail{
		text-align:left;
		margin: 15px 0 ;
		a{
			background: #fff;
		    border: 1px solid #40dc7e;
		    color: #5be190;
		    text-transform: uppercase;
		    border-radius: 3px;
		    padding: 3px 16px;
		    text-decoration: none;
		    transition: all .25s ease-in 0s;
		    box-shadow: 0px 5px 20px -10px #666;
		    font-size: .75rem;

		}
		a:hover{
			background: #5be190;
		    color: #fff;
		    box-shadow: 0px 5px 20px -10px #000;
		}
	}
}


@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 
	.eachMatch .em-team p {
	    margin: 0px 5px 0px;
	}

}

@media (max-width: 767.98px) { 
	.matches{
	    padding: 0 0 0 0;
	}
}

@media (max-width: 575.98px) { 
	.eachMatch .em-date p {
    	text-align: center;
	}
	.eachMatch .more-detail {
	    text-align: right;
	}
}

