<div class="matches">
	<div class="container">	
		<div class="filter-match">

			<div class="row">
				<div class="col-12 col-sm-4 col-lg-2">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          {{ team_head }}
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <li class="dropdown-item" *ngFor="let t of teams" (click)="team_head = t">{{ t }}</li>
				        </ul>
			      	</div>
					<!--select ng-model="teams">
						<option *ngFor="let team of teams">
						{{team}}
						</option>
					</select-->
				</div>
				<div class="col-12 col-sm-4 col-lg-2">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          {{ season_head }}
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <li class="dropdown-item" *ngFor="let t of seasons" (click)="season_head = t">{{ t }}</li>
				        </ul>
			      	</div>
					<!--select ng-model="seasons">
						<option *ngFor="let season of seasons">
						{{season}}
						</option>
					</select-->
				</div>
				<div class="col-12 col-sm-4 col-lg-3">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          {{ champtype_head }}
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <li class="dropdown-item" *ngFor="let t of champtypes" (click)="champtype_head = t">{{ t }}</li>
				        </ul>
			      	</div>
					<!--select ng-model="champs">
						<option *ngFor="let champ of champs">
						{{champ}}
						</option>
					</select-->
				</div>
				<div class="col-lg-5">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="dateFrom">
								<input type="date" name="dateFrom" [ngModel]="dateFrom | date:'yyyy-MM-dd'" (ngModelChange)="dateFrom=$event" class="form-control">
							</div>
						</div>
					
						<div class="col-12 col-sm-6">
							<div class="dateTo">
								<input type="date" name="dateTo" [ngModel]="dateTo | date:'yyyy-MM-dd'" (ngModelChange)="dateTo=$event" class="form-control">
							</div>
						</div>	
					</div>		
				</div>
			</div>
		</div>

		 <div class="row">
			<div class="col-md-12" *ngFor="let match of matches | matchesfilter:team_head:season_head:champtype_head:dateFrom:dateTo">
				
				<div class="eachMatch">
					<div class="row">
						<div class="align-self-center col-lg col-md">
							<div class="em-date">
								<p>{{match && match?.M_Date}} {{match && match?.M_Time}}</p>
							</div>						
						</div>
						<div class="align-self-center col-lg-5 col-md-7">
							<div class="em-team">
								<div class="row no-gutters">
									<div class="col align-self-center hteam">
										<div class="hteam-img">
											<img src="{{match && match?.Team_Logo_H}}" alt="Home Logo">
										</div>
										<p>{{match && match?.Team_Home_Name}}</p>
									</div>
									<div class="col-3 align-self-center">
										<div class="em-result">
											<p>{{match && match?.M_Home_Score }} : {{match && match?.M_Away_Score }}</p>
										</div>
									</div>
									<div class="col align-self-center ateam">
										<div class="ateam-img">
											<img src="{{match && match?.Team_Logo_A}}" alt="Away Logo">
										</div>
										<p>{{match && match?.Team_Away_Name}}</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="align-self-center col-lg col-md">
							<div class="row">
								<div class="align-self-center col-lg-6 col-md-12 col-6">
									<div class="em-season">
										<p>{{match && match?.C_Season}}</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-6">
									<div class="more-detail">
										<a routerLink="/pages/all-matches/matchdetails/{{match && match?.M_ID}}">التفاصيل</a>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>


