// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");
/*@font-face {
  font-family: 'Droid Arabic Kufi', serif;
  src: url('/assets/fonts/DroidKufi-Regular.arabic');
  font-weight: 500;
  font-style: normal;
}*/
// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: "Droid Arabic Kufi",
  font-secondary: "Droid Arabic Kufi",
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), cosmic, cosmic);
