<div class="playerdetails">
	<div class="container">
		<div class="head-details">
			<div class="row">
				<div class="col-md-4">
					<div class="playerImg">
						<img src="assets/images/player-image.jpg" alt="">
					</div>
				</div>
				
				<div class="col-md-5">
					<div class="playerinfo">
						<h3>Lional Messi</h3>
						<div class="row">
							<div class="col-6">
								<label>Age</label>
								<p>30</p>
								<label>Position</label>
								<p>Forward</p>
							</div>
							<div class="col-6">
								<label>Country</label>
								<p>Argentina</p>
								<label>Number</label>
								<p>10</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="goals">
						<i class="fa fa-soccer-ball-o"></i>
						<div class="num">105</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="filter-playerdetails">
			<div class="row">
				<div class="col-12 col-sm-4 col-lg-2">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          <!-- {{ team_head }} -->Matches
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <!-- <li class="dropdown-item" *ngFor="let t of teams" (click)="team_head = t">{{ t }}</li> -->
				          <li class="dropdown-item">Demo Item</li>
				          <li class="dropdown-item">Demo Item</li>

				        </ul>
			      	</div>
				</div>
				<div class="col-12 col-sm-4 col-lg-2">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          <!-- {{ season_head }} -->Season
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <!-- <li class="dropdown-item" *ngFor="let t of seasons" (click)="season_head = t">{{ t }}</li> -->
				          <li class="dropdown-item">Demo Item</li>
				          <li class="dropdown-item">Demo Item</li>
				        </ul>
			      	</div>

				</div>
				<div class="col-12 col-sm-4 col-lg-3">
					<div class="dropdown" ngbDropdown>
				        <button type="button" ngbDropdownToggle class="btn"
				                [ngClass]="{ 'btn-outline-success': currentTheme != 'default', 'btn-primary': currentTheme == 'default'}">
				          <!-- {{ champtype_head }} --> Champion
				        </button>
				        <ul class="dropdown-menu" ngbDropdownMenu>
				          <!-- <li class="dropdown-item" *ngFor="let t of champtypes" (click)="champtype_head = t">{{ t }}</li> -->
				          <li class="dropdown-item">Demo Item</li>
				          <li class="dropdown-item">Demo Item</li>
				        </ul>
			      	</div>
				</div>
				<div class="col-lg-5">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="dateFrom">
								<input type="date" name="dateFrom" [ngModel]="dateFrom | date:'yyyy-MM-dd'" (ngModelChange)="dateFrom=$event" class="form-control">
							</div>
						</div>
					
						<div class="col-12 col-sm-6">
							<div class="dateTo">
								<input type="date" name="dateTo" [ngModel]="dateTo | date:'yyyy-MM-dd'" (ngModelChange)="dateTo=$event" class="form-control">
							</div>
						</div>	
					</div>		
				</div>
			</div>
		</div>

		<div class="tableDetails">
			<table>
				<thead>
					<tr>
						<th>Assits </th>
						<th>Goals</th>
						<th>Champ</th>
						<th>Season</th>	
						<th>Match and Date</th>
						<th>Red Cards</th>
						<th>Yellow Cards</th>
						<th>Minutes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10</td>
						<td>5</td>
						<td>Cham Team</td>
						<td>2017/2018</td>
						<td>Headed x units <br> 2017-08-18</td>
						<td>4</td>
						<td>57</td>
						<td>75:00 min</td>
					</tr>
					<tr>
						<td>10</td>
						<td>5</td>
						<td>Cham Team</td>
						<td>2017/2018</td>
						<td>Headed x units <br> 2017-08-18</td>
						<td>4</td>
						<td>57</td>
						<td>75:00 min</td>
					</tr>
					<tr>
						<td>10</td>
						<td>5</td>
						<td>Cham Team</td>
						<td>2017/2018</td>
						<td>Headed x units <br> 2017-08-18</td>
						<td>4</td>
						<td>57</td>
						<td>75:00 min</td>
					</tr>
					<tr>
						<td>10</td>
						<td>5</td>
						<td>Cham Team</td>
						<td>2017/2018</td>
						<td>Headed x units <br> 2017-08-18</td>
						<td>4</td>
						<td>57</td>
						<td>75:00 min</td>
					</tr>
					<tr>
						<td>10</td>
						<td>5</td>
						<td>Cham Team</td>
						<td>2017/2018</td>
						<td>Headed x units <br> 2017-08-18</td>
						<td>4</td>
						<td>57</td>
						<td>75:00 min</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
