.playerdetails{
	direction: rtl;
	text-align:right;
}
.head-details{
	background: #fff;
	border-radius: 5px;
	.playerImg{
		img{
			width: 100%;
			height: 280px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.goals{
		margin: 50px 0px 20px 20px;
		text-align: center;
			i{
				font-size: 2em;
			    color: #40dc7e;
			    margin-bottom: 15px;
			    box-shadow: 0px 10px 15px -5px #d5d5d5;
			    border-radius: 50%;
			}
		.num{
			font-size: 1.5em;
			color: #40dc7e;
			border: 1px solid #40dc7e;
			display: block;
		    width: 60px;
		    height: 60px;
		    line-height: 55px;
		    border-radius: 50%;
		    transition: background .2s ease-in, color .25s ease 0s, border .29s ease-in 0s;;
		    cursor: pointer;
		    font-weight: 700;
		    margin: 0 auto;
			&:hover{
		    	color:#fff;
		    	background: #40dc7e;
		    }
		}
	}
	@media (max-width: 767.98px) { 
			.goals {
		    margin: 30px 0 20px 0;
		}
		.playerImg{
			img{
				width: 100%;
				height: 280px;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				border-bottom-right-radius: 0px;
			}
		}
	}
}
.playerinfo{
	h3{
		margin: 15px 0 10px;
		text-align: center;
		display:block;
		color: #333;
	}
	p{
		text-align: center;
		font-size: 1.1em;
		display: block;
	}
	label {
		text-align: center;
	    font-weight: 700;
	    color: #666;
	    font-size: 1.25em;
		display: block;
		margin: 0;
	}
}

.filter-playerdetails{
	direction: rtl;
    margin: 30px 0 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    .form-control{
		padding: 0.6rem 1.5rem;
	}
	.dropdown {
		button {
		    text-align: right;
		    cursor: pointer;
		    &:after {
			    left: 0.75rem;
			    right: auto;
			}

		}
		.dropdown-item{
			text-align: right;
			cursor: pointer;
		}
	}

	@media (max-width: 991.98px) { 
		.dropdown, .dateFrom, .dateTo {
			margin: 5px 0;
			display: block;
		}
	}	
}

.tableDetails{
	overflow-x: auto;
	margin: 0 0 30px;
	table{
		width: 100%;
		border-collapse: collapse;
		background: #fff;
		border-radius: 5px;
	}
	thead tr{
		th{
			background: #40dc7e; 
			color: #fff;
			text-align: center;
			font-size: 1.1em;
			padding: 15px 0;
			&:first-child{
				border-top-right-radius: 5px;
			}
			&:last-child{
				border-top-left-radius: 5px;
			}
		}
	}
	tbody{ 
		tr{
			td{
				text-align: center;
				border: 1px solid #ebeef2;
				padding: 5px 0;
				font-size: .9em;
				color: #888;
			}
			&:nth-child(even) td{
				background: #f5f7fc;
			}
			&:hover td{
				background: #e6f3ff;
			}
		} 
		
	}
	@media (max-width: 991.98px) { 
		table {
			width:  991px;
		}
	}

}

	

