<div class="matchDetails">
	<div class="container">
		<div class="matchDetailsHead">
			<div class="row align-items-center">
				<div class="col-4">
					<div class="teamOne">
						<img src="{{match && match?.match_details[0]?.Logo_Away}}" alt="">
						<h2>{{match && match?.match_details[0]?.Team_Away}}</h2>
					</div>
				</div>
				<div class="col-4">
					<div class="result">
						<p>{{match && match?.match_details[0]?.Away_Score}} - {{match && match?.match_details[0]?.Home_Score}}</p>
					</div>
				</div>
				<div class="col-4">
					<div class="teamtwo">
						<img src="{{match && match?.match_details[0]?.Logo_Home}}" alt="">
						<h2>{{match && match?.match_details[0]?.Team_Home}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="matchField">
			<div class="matchPlayers">

				<div class="teamOne">
					<div class="row no-gutters">
						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="goalkeeper col-12" *ngFor="let player of match?.away_players | matchdetailsfilter:1">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="defence col-12" *ngFor="let player of match?.away_players | matchdetailsfilter:2">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="mid col-12" *ngFor="let player of match?.away_players | matchdetailsfilter:3">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="forward col-12" *ngFor="let player of match?.away_players | matchdetailsfilter:4">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

					</div>
					
				</div>
				
				<div class="teamTwo">
					<div class="row no-gutters">
						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="forward col-12" *ngFor="let player of match?.home_players | matchdetailsfilter:4">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="mid col-12" *ngFor="let player of match?.home_players | matchdetailsfilter:3">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="defence col-12" *ngFor="let player of match?.home_players | matchdetailsfilter:2">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="row no-gutters align-items-center">
								<div class="goalkeeper col-12" *ngFor="let player of match?.home_players | matchdetailsfilter:1">
									<h3>{{player.P_Number}}</h3>
									<p>{{player.P_Name}}</p>
								</div>
							</div>
						</div>

					</div>
					
				</div>

			</div>
		</div>

		<div class="matchTimeline">
			<div class="timeline secondhalf">
				<div class="result">
					<h4>Second Half</h4>
					<p>{{match && match?.match_details[0]?.Home_Score}} - {{match && match?.match_details[0]?.Away_Score}}</p>
				</div>
				<div *ngFor="let item of matchProgress">
					<p>{{item.minute}} {{item.itemType}} {{item.team}} {{item.player}} {{item.player_no}} {{item.goalWay}} {{item.assist}} {{item.assist}} {{item.assist_no}} {{item.goalLink}}</p>
				</div>
				<div *ngFor="let item of matchProgress">
					<p>{{item.minute}} {{item?.itemType}} {{item?.team}} {{item?.player}} {{item?.player_no}} {{item?.goalWay}} {{item?.assist}} {{item?.assist}} {{item?.assist_no}} {{item?.goalLink}}</p>
				</div>
				<div *ngFor="let item of matchProgress">
					<p>{{item?.minute}} {{item?.itemType}} {{item?.team}} {{item?.player}} {{item?.player_no}} {{item?.goalWay}} {{item?.assist}} {{item?.assist}} {{item?.assist_no}} {{item?.goalLink}}</p>
				</div>
				<div *ngFor="let item of matchProgress">
					<p>{{item?.minute}} {{item?.itemType}} {{item?.team}} {{item?.player}} {{item?.player_no}} {{item?.goalWay}} {{item?.assist}} {{item?.assist}} {{item?.assist_no}} {{item?.goalLink}}</p>
				</div>
				<div class="goal-info TOne">
					<div class="goal-time">
						<p>5'</p>
					</div>
					<div class="goal-detail">
						<div class="gd-ico">
							<a href=""><i class="fa fa-soccer-ball-o"></i></a>
						</div>
						<div class="gd-txt">
							<h3>{{match && match?.home_goals[0]?.P_Name}}</h3>
							<p>Lorem Ipsum</p>
						</div>
					</div>
				</div>

				<div class="exchange TTwo">
					<div class="ex-time">
						<p>6'</p>
					</div>
					<div class="ex-detail">
						<div class="ed-ico">
							<i class="fa fa-circle"></i>
						</div>
						<div class="ed-txt">
							<p>Lorem Ipsum</p>
							<span>Lorem Ipsum</span>
						</div>
					</div>
				</div>

				<div class="goal-info TTwo">
					<div class="goal-time">
						<p>5'</p>
					</div>
					<div class="goal-detail">
						<div class="gd-ico">
							<i class="fa fa-soccer-ball-o"></i>
						</div>
						<div class="gd-txt">
							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum</p>
						</div>
					</div>
				</div>
				
				<div class="exchange TOne">
					<div class="ex-time">
						<p>6'</p>
					</div>
					<div class="ex-detail">
						<div class="ed-ico">
							<i class="fa fa-circle"></i>
						</div>
						<div class="ed-txt">
							<p>Lorem Ipsum</p>
							<span>Lorem Ipsum</span>
						</div>
					</div>
				</div>
				
			</div>

			<div class="timeline firstHalf">
				<div class="result">
					<h4>First Half</h4>
					<p>{{match && match?.match_details[0]?.Away_Score}} - {{match && match?.match_details[0]?.Home_Score}}</p>
				</div>
				<div class="goal-info TOne">
					<div class="goal-time">
						<p>5'</p>
					</div>
					<div class="goal-detail">
						<div class="gd-ico">
							<i class="fa fa-soccer-ball-o"></i>
						</div>
						<div class="gd-txt">
							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum</p>
						</div>
					</div>
				</div>

				<div class="exchange TTwo">
					<div class="ex-time">
						<p>6'</p>
					</div>
					<div class="ex-detail">
						<div class="ed-ico">
							<i class="fa fa-circle"></i>
						</div>
						<div class="ed-txt">
							<p>Lorem Ipsum</p>
							<span>Lorem Ipsum</span>
						</div>
					</div>
				</div>

				<div class="goal-info TTwo">
					<div class="goal-time">
						<p>5'</p>
					</div>
					<div class="goal-detail">
						<div class="gd-ico">
							<i class="fa fa-soccer-ball-o"></i>
						</div>
						<div class="gd-txt">
							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum</p>
						</div>
					</div>
				</div>
				
				<div class="exchange TOne">
					<div class="ex-time">
						<p>6'</p>
					</div>
					<div class="ex-detail">
						<div class="ed-ico">
							<i class="fa fa-circle"></i>
						</div>
						<div class="ed-txt">
							<p>Lorem Ipsum</p>
							<span>Lorem Ipsum</span>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>
