.matchDetailsHead{
    width: 50%;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    img {
        width: auto;
        height: 80px;
        display:  block;
        margin:  0 auto;
    }
    h2 {
        text-align:  center;
        margin: 0;
    }
    .result{
        p {
            font-size: 4em;
            color: #666;
            text-align:  center;
            margin: 0;
            font-weight: 700;
        }
    }
}
.matchField {
    position:  relative;
    overflow:  hidden;
    background: url("/assets/images/soccer_field.png") no-repeat;
    background-size: cover;
    height: 670px;
    width: 90%;
    margin: 0 auto;
    background-position: 100% 100%;

    .matchPlayers {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        &:before{
            background: rgba(0,0,0,.25);
            content: '';
            position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    h3{
        margin: 0 auto;
        width: 45px;
        height: 30px;
        font-size: .8em;
        text-align: center;
        line-height: 42px;
        font-weight: 700;
    }
    p{
        color: #fff;
        background: #303030;
        font-size: .6em;
        padding: 2px 5px;
        border-radius: 3px;
        display: initial;
    }

    .teamOne, .teamTwo {
        width: 50%;
        
        overflow: hidden;
        height: 670px;
       div.row{
        text-align: center;
        margin: 10px 0;
        height: 100%;
       }
    }
    .teamOne{
        float: left;
        h3{
            background: url("/assets/images/jersey-one.svg") no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        .goalkeeper, .defence, .mid, .forward {
           margin-top: -40px;
           margin-left: 10px;     
        }
    }
    .teamTwo{
        float: right;
        h3{
            background: url("/assets/images/jersey-two.svg") no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        .goalkeeper, .defence, .mid, .forward {
           margin-top: -40px;
           margin-left: -10px;    
        }
    }
}
.matchTimeline{
    width:  70%;
    margin:  0 auto;

    .timeline {
        position: relative;
        overflow: hidden;
        &:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background: #b6d3c2;
        left: 50%
        }
        .result{
            position: relative;
            background: #e5e5e5;
            margin: 0 0 20px;
            z-index: 999;
            text-align: center;
            padding: 5px 0;
            border: 1px solid #b6d3c2;
            h4{
                font-size: 1.15em;
                margin: 0;
            }
            p{
                background: transparent;
                font-size: 1em; 
                margin: 0;
            }
        }
    }

    .TOne {
        text-align: right;
        width: 50%;
        float:left;
        overflow: hidden;
        clear: both;
        margin-bottom: 20px;
        .goal-time {
            float: right;
        }
        .goal-detail {
            float: left;
            margin-right: 3%;
            .gd-ico {
                float: right;
            }
            .gd-txt {
                float: right;
            }
        }
        .ex-time{
            float: right;
        }
        .ex-detail{
            float:left;
            margin-right: 3%;
            .ed-ico {
                float: right;
            }
            .ed-txt {
                float: right;
            }
        }
    }

    .TTwo {
        width: 50%;
        overflow:  hidden;
        float:  right;
        clear: both;
        margin-bottom: 20px;
        .goal-time {
            float: left;
        }
        .goal-detail {
            float: left;
            margin-left: 3%;
            .gd-ico {
                float: left;
            }
            .gd-txt {
                float: left;
            }
        }
        .ex-time{
            float: left;
        }
        .ex-detail{
            float:left;
            margin-left: 3%;
            .ed-ico {
                float: left;
            }
            .ed-txt {
                float: left;
            }
        }
    }

    .goal-time {
        width: 10%;
        background: #d8dde3;
        p{
            color: #666;
            text-align: center;
            margin: 0;
            line-height: 35px;
            font-size: 1.2em;
        }
    }
    .goal-detail {
        width: 87%;
        .gd-ico {
            width: 15%;
            text-align: center;
            i{
                font-size: 2em;
            }
        }
        .gd-txt {
            width: 85%;
        }
        h3{
            font-size: 1em;
            margin:0;
            color: #444;
        }
        p{
            margin: 0;
        }
    }
    .ex-time{
        width: 10%;
        background: #d8dde3;
        p{
            color: #666;
            text-align: center;
            margin: 0;
            line-height: 35px;
            font-size: 1.2em;
        }
    }
    .ex-detail{
        width: 87%;
        .ed-ico {
            width: 15%;
            text-align: center;
            i{
                font-size: 2em;
            }
        }
        .ed-txt {
            width: 85%;
        }
        p{
            margin: 0;
            color: #40dc7e;
            font-size: 1em;
        }
        span{
            color: #dc407e;
            font-size: 1em;
        }
    }
}

@media (max-width: 991.98px) {
    .matchDetailsHead {
        width: 80%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .matchDetailsHead {
        width: 100%;
    }
}



